<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Notes Writing System</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>

    <nav>
        <ul>
            <li><a href="/home">Home</a></li>

            <li><a href="/write">Write Notes</a></li>
            <li><a href="/getnotes">View Notes</a></li>
            <li><a href="/update">Edit Notes</a></li>

            <li><a href="/login">Logout</a></li>
        </ul>
    </nav>

    <div class="container">
        <h1>You Are Here....</h1>
        <p>This system allows you to write and manage your notes.</p>
        <p>Features:</p>
        <ul>
            <li>Write notes</li>
            <li>View your notes</li>
            <li>Edit your notes</li>
        </ul>
        <p>If you're a user, you can start writing your notes <a href="/write">here</a>.</p>
    </div>
</body>

</html>